<div class="container col mx-auto">
    <div class="card bg-dark">
        <div class="card-header">
            <h3>Games List</h3>
            <!--<input type="text" [(ngModel)]="searchText" class="form-control ml-auto float-sm-right">-->   
        </div>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action"
                *ngFor="let g of games let i = index" 
                (click)="selected(g)"
                [class.active]="g==selectedGame">
                {{g.gameName}}
            </li>
         </ul>
    </div>
</div>

