<div class="container col mx-auto">
    <div class="card bg-dark">
        <div class="card-header">
            <h3>Publisher Details</h3>
        </div>
        
        
        <input type="text" name="gameID" class="form-control" [(ngModel)]="game.gameID" readonly hidden>
        
        <form #saveForm="ngForm">
            <div class="card-body">
                <div class="form-group">
                    <label for="pubName">Publisher Name</label>
                    <input type="text" name="pubName" class="form-control" [(ngModel)]="game.publisher.pubName" [readonly]="notEditable">
                </div>
                <div class="form-group">
                    <label for="pubEmail">Publisher Email</label>
                    <input type="email" email name="pubEmail" class="form-control" [(ngModel)]="game.publisher.pubEmail" [readonly]="notEditable">
                </div>
                <hr>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-success" type="button" (click)="onSubmit()">{{buttonText}}</button>
                    </div>
                </div>
            </div>
        </form>        
    </div>
</div>