<div class="container p-5 col-sm-5">
    <div class="card bg-dark">
        <div class="card-header">
            <h3>Register</h3>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" [(ngModel)]="username">
                <label for="firstname">Firstname:</label>
                <input type="text" class="form-control" id="firstname" [(ngModel)]="firstname">
                <label for="surname">Surname:</label>
                <input type="text" class="form-control" id="surname" [(ngModel)]="surname">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="email" [(ngModel)]="email">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" [(ngModel)]="password">
                <label for="dob">Date of birth:</label>
                <input type="date" class="form-control" id="dob" [(ngModel)]="dob">
                <label for="gender">Gender:</label>
                <div>
                    <input id="male" type="radio" class="custom-control-input" value="male" name="gender" [(ngModel)]="gender" required>
                    <label class="custom-control-label" for="male">Male</label>
                 </div>
                 <div>
                    <input id="female" type="radio" class="custom-control-input" value="female" name="gender" [(ngModel)]="gender" required>
                    <label class="custom-control-label" for="female">Female</label>
                 </div>
                <!-- <label *ngIf="errorMsg!=''">{{errorMsg}}</label> -->
            </div>
        </div>

        <div class="card-footer">
            <button class="btn btn-success" id="loginbtn" (click)="submit()">Register</button>
        </div>
    </div>
</div>